# ****************************
# *  Paramètres généraux     *
# ****************************


# Paramètres de mise à jour
check-for-updates: true
updates-notifications: true

# Vous pouvez copier le fichier "fr_FR.yml" et le coller avec un autre nom pour créer votre langue personnalisée
# Vous devez changer juste en dessous avec le nom de votre fichier de langue personnalisé pour appliquer les changements
lang: "fr_FR.yml"

# Paramètres de base de données
database: false
database-settings:
  hostname: localhost
  port: 3306
  database_name: test_server
  username: root
  password: pass

# Alias
# Configurez les alias des commandes principales.
# Les permissions de ces commandes sont les mêmes.
command-aliases:
  claim:
    - /territory
  unclaim:
    - /unterritory
  claims:
    - /territories
    
# Configurez les alias des mondes.
world-aliases:
  world: Overworld
  world_nether: Nether
  world_the_end: End


# ******************************
# *  Paramètres des claims     *
# ******************************


# Purge automatique des claims
# auto-purge-checking est en minutes (toutes les x minutes le plugin purgera les claims)
# auto-purge-time-without-login accepte ce format : 5s, 5m, 5h, 5d, 5w (5 est un exemple)
auto-purge: true
auto-purge-checking: 60
auto-purge-time-without-login: 14d

# Mode des claims par monde
# Modes :
# - SURVIVAL : Mode classique, les claims sont disponibles, vous pouvez construire à l'intérieur/extérieur de vos claims
# - SURVIVAL_REQUIRING_CLAIMS : Mode avancé, les claims sont disponibles, vous pouvez construire uniquement à l'intérieur de vos claims
# /!\ Les PERMS en dehors des claims pour ce mode sont configurables, voir ci-dessous (dans la section permissions)
# - DISABLED : Les claims sont complètement désactivés
# Par défaut, si un monde n'apparaît pas dans la liste, le plugin utilisera le mode Survival.
claims-worlds-mode:
  world: SURVIVAL
  world_nether: SURVIVAL
  world_the_end: SURVIVAL
  example_world: DISABLED
  example_only_claims: SURVIVAL_REQUIRING_CLAIMS

# Où les messages de protection sont affichés
# Types autorisés : ACTION_BAR (par défaut), BOSSBAR, SUBTITLE, TITLE et CHAT
protection-message: ACTION_BAR

# Garder les chunks chargés même si aucun joueur n'est présent
keep-chunks-loaded: false

# Longueur maximale du nom de claim
max-length-claim-name: 16

# Longueur maximale de la description du claim
max-length-claim-description: 50

# Y a-t-il un système d'invitation pour les claims ? Si non, les joueurs peuvent ajouter n'importe qui à leurs claims
claim-invitations-system: false

# Expiration d'une invitation (en secondes)
claim-invitation-expiration-delay: 120

# Confirmation avant de claim ? (disponible aussi avec le système d'ajout de chunks)
claim-confirmation: false

# Afficher des particules sur les bordures lors du claim ?
claim-particles: true

# Afficher des particules quand un joueur ne peut pas entrer
claim-particles-not-enter: true

# Désactiver le vol dans les claims lors de dégâts (de tout type)
claim-fly-disabled-on-damage: true

# Envoyer un message au joueur quand le vol automatique active le vol ?
claim-fly-message-auto-fly: true

# Activer/Désactiver le message d'entrée/sortie dans la barre d'action
enter-leave-messages: true

# Activer/Désactiver le message d'entrée/sortie dans le titre et sous-titre
enter-leave-title-messages: true

# Activer/Désactiver le message d'entrée/sortie dans le chat
enter-leave-chat-messages: true

# Les claims avec le paramètre GuiTeleport désactivé doivent-ils être affichés dans /claims ?
claims-visitors-off-visible: true

# Activer/Désactiver le système économique (vente/achat de claims)
economy: true

# Prix de vente maximum pour un claim
max-sell-price: 1000000000

# Si /claim est payant
claim-cost: false
# Si l'ajout de chunk à un claim est payant
chunk-cost: false

# Si le coût du claim est multiplié (par exemple si claim-cost-multiplier = 2, le premier claim coûtera le claim-cost, 1000 par exemple,
# le deuxième claim coûtera 2000, le troisième 4000 ..)
claim-cost-multiplier: false
# Pareil pour l'ajout de chunk
chunk-cost-multiplier: false

# Utiliser des nombres formatés pour les coûts (10 000 000 = 10M par exemple)
use-formatted-number: true

# Paramètres d'annonce
announce-sale:

  # Annoncer la vente dans la bossbar
  bossbar: true
  bossbar-settings:
    color: RED
    style: SOLID
    
  # Annoncer la vente dans le chat
  chat: true
  
  # Annoncer la vente dans le titre/sous-titre
  title: true
  
  # Annoncer la vente dans la barre d'action
  actionbar: true

# Activer/Désactiver la bossbar quand vous êtes dans un territoire
# Placeholders :
# Utilisez %owner% pour le nom du propriétaire (pas pour les zones protégées)
# Utilisez %player% pour le nom du joueur
# Utilisez %name% pour le nom du claim
bossbar: true
bossbar-settings:
  color: YELLOW
  style: SOLID

# Expression régulière pour contrôler la description autorisée d'un claim.
# La valeur par défaut pour les claims de joueurs est '^[a-zA-Z0-9\s]+$' et n'autorise que les chaînes alphanumériques, avec des espaces.
# La valeur par défaut pour les zones protégées est la même, mais inclut aussi les symboles de couleur.
description-regex:
  claims: '^[a-zA-Z0-9\s]+$'
  protected-areas: '^[a-zA-Z0-9&#\s]+$'

# Si le délai > 0, le joueur peut-il bouger
# true = peut bouger, false = ne peut pas bouger
teleportation-delay-moving: false

# Où l'auto-map est envoyée.
# Types disponibles : CHAT et SCOREBOARD.
map-type: SCOREBOARD

# Emplacement quand un joueur est banni/expulsé d'un claim
expulsion-location: {}


# ****************************
# *  Paramètres de la carte  *
# ****************************


# Support Bluemap
bluemap: true
bluemap-settings:
  claim-border-color: FFFFFF
  claim-fill-color: A5A5A5
  claim-hover-text: "%claim-name% - Propriétaire: %owner%"


# *********************************
# *  Paramètres des permissions   *
# *********************************


# Paramètres des groupes avec permissions
# 0 pour des claims illimités
# 0 pour aucun délai (en secondes)
# 0 pour des membres illimités
# Attention, si vous mettez le rayon de claim à 0, il y a un risque de lag si les joueurs claim avec un rayon trop grand
# Attention à max-radius-claims et max-chunks-per-claim, l'un dépend de l'autre, par exemple :
# si vous mettez 4 à max-chunks-per-claim et 1 à max-radius-claims, les joueurs ne peuvent pas utiliser le claim par rayon car le max chunks est à 4
# il doit être à 9 pour un rayon de 1
# pareil pour max-chunks-total
groups:
  admin:
    permission: slclaim.group.admin
    max-claims: 0
    max-radius-claims: 0
    teleportation-delay: 0
    max-members: 0
    claim-cost: 0
    claim-cost-multiplier: 0
    max-chunks-per-claim: 0
    claim-distance: 0
    max-chunks-total: 0
    chunk-cost: 0
    chunk-cost-multiplier: 0
  vip: # Exemple
    permission: slclaim.group.vip
    max-claims: 15
    max-radius-claims: 2
    teleportation-delay: 0
    max-members: 5
    claim-cost: 50
    claim-cost-multiplier: 2
    max-chunks-per-claim: 10
    claim-distance: 0
    max-chunks-total: 50
    chunk-cost: 0
    chunk-cost-multiplier: 0
  default:
    max-claims: 1
    max-radius-claims: 1
    teleportation-delay: 5
    max-members: 2
    claim-cost: 100
    claim-cost-multiplier: 2
    max-chunks-per-claim: 4
    claim-distance: 0
    max-chunks-total: 20
    chunk-cost: 0
    chunk-cost-multiplier: 0
    
# Paramètres des joueurs
# 0 pour des claims illimités
# 0 pour aucun délai (en secondes)
# 0 pour des membres illimités
# Attention, si vous mettez le rayon de claim à 0, il y a un risque de lag si les joueurs claim avec un rayon trop grand
# Attention à max-radius-claims et max-chunks-per-claim, l'un dépend de l'autre, par exemple :
# si vous mettez 4 à max-chunks-per-claim et 1 à max-radius-claims, les joueurs ne peuvent pas utiliser le claim par rayon car le max chunks est à 4
# il doit être à 9 pour un rayon de 1
# pareil pour max-chunks-total
players: {}
  # MrBaguette07:
  # max-claims: 0
  # max-radius-claims: 0
  # teleportation-delay: 0
  # max-members: 0
  # claim-cost: 0
  # claim-cost-multiplier: 0
  # max-chunks-per-claim: 0
  # claim-distance: 0
  # max-chunks-total: 20
  # chunk-cost: 0
  # chunk-cost-multiplier: 0


# *********************************
# *  Paramètres de protection     *
# *********************************


# Activer/Désactiver les paramètres, si vous mettez "false", les joueurs ne peuvent pas modifier ce paramètre dans leurs claims
status-settings:
  Build: true
  Destroy: true
  Buttons: true
  Items: true
  InteractBlocks: true
  Levers: true
  Plates: true
  Doors: true
  Trapdoors: true
  Fencegates: true
  Tripwires: true
  RepeatersComparators: true
  Bells: true
  Entities: true
  Explosions: true
  Liquids: true
  Redstone: true
  Frostwalker: true
  Firespread: true
  Teleportations: true
  Damages: true
  Pvp: true
  Monsters: true
  Weather: true
  Fly: true
  GuiTeleport: true
  Portals: true
  Enter: true
  ItemsPickup: true
  ItemsDrop: true
  SpecialBlocks: true
  Elytra: true
  Windcharges: true

# Liste des valeurs par défaut pour les paramètres
default-values-settings:
  Members:
    Build: true
    Destroy: true
    Buttons: true
    Items: true
    InteractBlocks: true
    Levers: true
    Plates: true
    Doors: true
    Trapdoors: true
    Fencegates: true
    Tripwires: true
    RepeatersComparators: true
    Bells: true
    Entities: true
    Frostwalker: true
    Teleportations: true
    Damages: true
    Fly: true
    Weather: false
    GuiTeleport: true
    Portals: true
    Enter: true
    ItemsPickup: true
    ItemsDrop: true
    SpecialBlocks: false
    Elytra: true
    Windcharges: true
  Visitors:
    Build: false
    Destroy: false
    Buttons: true
    Items: true
    InteractBlocks: false
    Levers: true
    Plates: true
    Doors: true
    Trapdoors: true
    Fencegates: true
    Tripwires: true
    RepeatersComparators: true
    Bells: true
    Entities: false
    Frostwalker: false
    Teleportations: false
    Damages: false
    Fly: false
    Weather: true
    GuiTeleport: true
    Portals: false
    Enter: true
    ItemsPickup: false
    ItemsDrop: false
    SpecialBlocks: false
    Elytra: false
    Windcharges: false
  Natural:
    Explosions: false
    Liquids: false
    Redstone: false
    Firespread: false
    Monsters: true
    Pvp: false

# Liste des permissions à utiliser quand le mode du monde est SurvivalRequiringClaims (en dehors des claims)
permissions-on-SurvivalRequiringClaims:
  Build: false
  Destroy: false
  Buttons: false
  Items: true
  InteractBlocks: false
  Levers: false
  Plates: false
  Doors: false
  Trapdoors: false
  Fencegates: false
  Tripwires: false
  RepeatersComparators: false
  Bells: false
  Entities: false
  Frostwalker: true
  Teleportations: true
  Damages: false
  Portals: false
  ItemsPickup: true
  ItemsDrop: true
  SpecialBlocks: false
  Elytra: true
  Windcharges: true
  Explosions: false
  Liquids: false
  Redstone: false
  Firespread: false
  Monsters: true
  Pvp: false

# Liste des conteneurs bloqués pour le paramètre "Interagir avec les blocs"
# https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
blocked-interact-blocks:
- FURNACE
- BLAST_FURNACE
- ANVIL
- DAMAGED_ANVIL
- BREWING_STAND
- CHISELED_BOOKSHELF
- COMPOSTER
- DISPENSER
- DROPPER
- ENCHANTING_TABLE
- HOPPER
- JUKEBOX
- STONECUTTER
- BARREL
- BEACON
- CRAFTING_TABLE
- SHULKER_BOX
- CHEST
- ENDER_CHEST
- TRAPPED_CHEST
- DRAGON_EGG
- RESPAWN_ANCHOR
- CAULDRON
- LAVA_CAULDRON
- WATER_CAULDRON
- WHITE_SHULKER_BOX
- ORANGE_SHULKER_BOX
- MAGENTA_SHULKER_BOX
- LIGHT_BLUE_SHULKER_BOX
- YELLOW_SHULKER_BOX
- LIME_SHULKER_BOX
- PINK_SHULKER_BOX
- GRAY_SHULKER_BOX
- LIGHT_GRAY_SHULKER_BOX
- CYAN_SHULKER_BOX
- PURPLE_SHULKER_BOX
- BLUE_SHULKER_BOX
- BROWN_SHULKER_BOX
- GREEN_SHULKER_BOX
- RED_SHULKER_BOX
- BLACK_SHULKER_BOX
- CRAFTER
- WHITE_BED
- ORANGE_BED
- MAGENTA_BED
- LIGHT_BLUE_BED
- YELLOW_BED
- LIME_BED
- PINK_BED
- GRAY_BED
- LIGHT_GRAY_BED
- CYAN_BED
- PURPLE_BED
- BLUE_BED
- BROWN_BED
- GREEN_BED
- RED_BED
- BLACK_BED
- OAK_SIGN
- SPRUCE_SIGN
- BIRCH_SIGN
- JUNGLE_SIGN
- ACACIA_SIGN
- CHERRY_SIGN
- DARK_OAK_SIGN
- MANGROVE_SIGN
- BAMBOO_SIGN
- CRIMSON_SIGN
- WARPED_SIGN
- OAK_HANGING_SIGN
- SPRUCE_HANGING_SIGN
- BIRCH_HANGING_SIGN
- JUNGLE_HANGING_SIGN
- ACACIA_HANGING_SIGN
- CHERRY_HANGING_SIGN
- DARK_OAK_HANGING_SIGN
- MANGROVE_HANGING_SIGN
- BAMBOO_HANGING_SIGN
- CRIMSON_HANGING_SIGN
- WARPED_HANGING_SIGN
- OAK_WALL_SIGN
- SPRUCE_WALL_SIGN
- BIRCH_WALL_SIGN
- ACACIA_WALL_SIGN
- CHERRY_WALL_SIGN
- JUNGLE_WALL_SIGN
- DARK_OAK_WALL_SIGN
- MANGROVE_WALL_SIGN
- BAMBOO_WALL_SIGN
- OAK_WALL_HANGING_SIGN
- SPRUCE_WALL_HANGING_SIGN
- BIRCH_WALL_HANGING_SIGN
- ACACIA_WALL_HANGING_SIGN
- CHERRY_WALL_HANGING_SIGN
- JUNGLE_WALL_HANGING_SIGN
- DARK_OAK_WALL_HANGING_SIGN
- MANGROVE_WALL_HANGING_SIGN
- CRIMSON_WALL_HANGING_SIGN
- WARPED_WALL_HANGING_SIGN
- BAMBOO_WALL_HANGING_SIGN
- CRIMSON_WALL_SIGN
- WARPED_WALL_SIGN
- LOOM
- SMOKER

# Liste des objets bloqués pour le paramètre "Utiliser des objets"
# https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
blocked-items:
- ENDER_PEARL
- BOW
- CROSSBOW
- TRIDENT
- FLINT_AND_STEEL
- FIRE_CHARGE
- BUCKET
- WATER_BUCKET
- LAVA_BUCKET
- CHORUS_FRUIT
- FIREWORK_ROCKET
- FIREWORK_STAR
- ENDER_EYE
- FISHING_ROD
- LEAD

# Liste des types d'entités bloqués pour le paramètre "Entités"
# https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/entity/EntityType.html
blocked-entities:
- VILLAGER
- SHEEP
- ITEM_FRAME
- GLOW_ITEM_FRAME
- ARMOR_STAND
- PAINTING
- BOAT
- MINECART
- HORSE
- DONKEY
- MULE
- PIG
- STRIDER
- LLAMA

# Liste des blocs bloqués pour le paramètre "Détruire des blocs spéciaux"
# https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
special-blocks:
- SPAWNER

# Liste des blocs ignorés pour le paramètre "Détruire"
# https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
ignored-break-blocks:
- BEDROCK

# Liste des blocs ignorés pour le paramètre "Construire"
# https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
ignored-place-blocks:
- BEDROCK